#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    margin-top: 8px;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
    font-weight: 600;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
    font-weight: 600;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}

#prodetails .single-pro-details button{
    background-color: #088178;
    color: white;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

@media (max-width: 490px) {
    #prodetails {
        padding: 1.7em;
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
  
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
  
    #prodetails .single-pro-details {
        width: 100%;
        padding-top: 30px;
    }
  
}
