#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    margin-top: 8px;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
    font-weight: 600;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
    font-weight: 600;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}

#prodetails .single-pro-details button{
    background-color: #088178;
    color: white;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}



/* Recommend  */
.pro-container-visit{
 
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    column-gap: 1em;
    padding: 1em;
}
.pro-container-visit .pro{
    width: 23%;
    max-width: 15em;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px;
    position: relative;
    z-index: 2;
}

.pro-container-visit .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro-container-visit .pro img{
    width: 100%;
    border-radius: 20px;
}

.pro .des{
    text-align: start;
}

.pro .des span{
    color:#088178;
    font-size: 12px;
}

.pro .des h5{
    color: #1a1a1a;
    font-size: 17px;
    padding-top: 7px;
    font-weight: 600;
}

 .pro .des h4{
    padding-top: 0px;
    font-size: 17px ;
    color: #1a1a1a;
    font-weight: 600;
}


@media (max-width: 490px) {
    .recommend h4{
        padding-left: 1em;;
    }
    .pro-container-visit{
        display: flex;
        justify-content: space-between;
    }
    .pro-container-visit .pro{
        width: 47%;
        margin: 0;
    }
    #prodetails {
        padding: 1.7em;
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
  
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
  
    #prodetails .single-pro-details {
        width: 100%;
        padding-top: 30px;
    }
    .pro .des h5,.pro .des h4 {
        font-size: 14px;
    }
  
}
