#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

#feature .fe-box{
    font-weight: 700;
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    height: 180px;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(3, 2, 25, 0.1);
}

#feature .fe-box h6{
    font-weight: 700;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: -10px;
    padding: 9px 8px 6px 8px;
    border-radius: 4px;
    line-height: 1;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

@media (max-width: 490px) {

    #feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 0;
    flex-wrap: nowrap;
    gap: 10px;
}

#feature .fe-box{
    font-weight: 700;
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box h6{
    font-size: 1em;
}
#feature .fe-box img{
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
}
}