footer{
    padding: 1em 9em;
    background-color: #E3E6F3;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between; 
}

footer .col{
 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .logo{
    margin-bottom: 20px;
}

footer .col h4{
    font-size: 14px;
    padding-bottom: 20px;
    font-weight: 700;
}

footer .col p{
    font-size: 13px;
    margin: 0 0 8px 0;  
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow h4{
    margin-bottom: 0;
}

footer .follow .icon{
    cursor: pointer;
}

footer .install .download-row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .download-row img{
    width: 130px;
}

footer a:hover{
    color: red;
}

footer .copyright{
    width: 100%;
    text-align: center;
    
}

#maintainer p{
    font-weight: bold;
}

.maintain p span{
    display: flex;
    justify-content: center;
    font-size: 19px;
}

footer p {
    font-size: 20px;
    margin: 0 0 8px 0;
}
/* .section-p1{
    padding: 40px 80px;
  }
   */

#developer-name{
    font-size: 1rem;
    color: rgb(35, 57, 255);
}

@media (max-width: 490px) {
    footer{
        margin: 0;
        row-gap: 20px;
        column-gap: 10px;
       
    }
    /* .section-p1{
        padding:0;
      } */
      .footer-container{
        padding:1em
      }
      .download-row{
        display: flex;
      }
    .inside-maintainer{
        font-size: 1em;
    }
    footer .copyright{
        text-align:start;
    }
    footer .copyright p{
        text-align: center;
        margin-bottom: 0;
        font-size: medium;
    }
    footer{
        gap: 10px;
    }
}